body{
}
*{
  box-sizing: border-box;}
.body-container{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;}

    .notification.is-niceimg {

        color: #000;
        background-image: url(https://www.drupal.org/files/cta/background/bg-nyc.jpg);
    }
    .notification.is-danger {

        color: #000!important;
    }
    .ih-item,
    .ih-item * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .ih-item a {
      color: #333;
    }
    .ih-item a:hover {
      text-decoration: none;
    }
    .ih-item img {
      width: 100%;
      height: 100%;
    }

    .ih-item.circle {
      position: relative;
      width: 220px;
      height: 220px;
      border-radius: 50%;
    }
    .ih-item.circle .img {
      position: relative;
      width: 220px;
      height: 220px;
      border-radius: 50%;
    }
    .ih-item.circle .img:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }
    .ih-item.circle .img img {
      border-radius: 50%;
    }
    .ih-item.circle .info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      border-radius: 50%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .ih-item.square {
      position: relative;
/*  width: 316px;
      height: 216px;*/
     /* border: 8px solid #fff;*/
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          margin-bottom: 20px;
    }
    .ih-item.square .info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .ih-item.square.effect3 {
      overflow: hidden;
    }
    .ih-item.square.effect3.colored .info {
      background: #1a4a72;
    }
    .ih-item.square.effect3 .img {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }
    .ih-item.square.effect3 .info {
      height: 65px;
      background: #333333;
      opacity: 0;
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }
    .ih-item.square.effect3 .info h3 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: 17px;
      padding: 10px 10px 0 4px;
      margin: 4px 0 0 0;
    }
    .ih-item.square.effect3 .info p {
      font-style: italic;
      font-size: 12px;
      position: relative;
      color: #bbb;
      padding: 5px;
      text-align: center;
    }
    .ih-item.square.effect3 a:hover .info {
      visibility: visible;
      opacity: 1;
    }
a:hover {
    color: #fff;
}

.hero.is-bgr{
background: url(../images/work.jpg) no-repeat  center top;
background-size: cover;
/*opacity:0.9;*/
}

.button.is-info.is-inverted {
    background-color: rgba(255, 255, 255, 0.15);
    color: #252525;
}
.button.is-info.is-inverted:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #05b79c;
}

#tab{
margin-top:10px;
margin-bottom:30px;}

.tabs ul {

    border-bottom-color: rgba(219, 219, 219, 0.03);


}
.tabs.is-boxed a:hover {
    background-color: #ffffff;
    border-bottom-color: #00d1b2;
}
.tabs.is-boxed li.is-active a {
    background-color: #fff;
    border-color: rgba(219, 219, 219, 0.07);
    border-bottom-color: transparent!important;
}
.hero.is-info a.nav-item.is-active, .hero.is-info a.nav-item{
color: #2d2c2c;
}
.hero.is-info a.nav-item.is-active, .hero.is-info a.nav-item-logo{
    color: #fff;
}

.hero.is-info a.nav-item.is-active, .hero.is-info a.nav-item:hover {
   color: #252525;
}
.hero.is-info a.nav-item.is-active, .hero.is-info a.nav-item-logo:hover{
     color: #00d1b2;
}
.notification.is-success,.notification.is-info,.notification.is-primary,.notification.is-warning,.notification.is-danger{
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/ravenna.png);
    /* background-color: #23d160; */
    color: #423e3e;
}

.footer {
    color: #fff;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png);
    /* background-color: #f5f5f5; */
    padding: 3rem 1.5rem 6rem;
}