body {
   /* background: linear-gradient( 90deg, #fff 40%, #02ccba);*/
 font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
   /* background-color: #fff;*/
    letter-spacing: 1px;
    margin:0;
    box-sizing: border-box;
   /* overflow:hidden;*/
}
*, *::before, *::after {
    box-sizing: border-box;
}
img{
    max-width:100%;
    height: auto;
}
p{}
a{}
h1,h2,h3,h4{}
span{}

.row-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
a.navbar-height{
     height: auto;
 }
.nav-height{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    }
.nav >li.activ a {
    border-bottom: 3px solid #c6e3ff;
    }
.nav >li >a {
    color: #fff;
    margin: 18px 16px 18px 16px;
    padding: 4px 0px 4px 0px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    border-top: 5px solid transparent;
    line-height: 18px;
    }
#responsive-menu .nav >li >a:hover{
    color: #c6e3ff;
    border-bottom: 3px solid #c6e3ff;
   background-color: transparent;
 }
.page-pathfinder::before{
    content: ' ';
    width: 100%;
    height: 1000px;
    z-index: -1;
    background: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg, -15deg);
    -moz-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    -o-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
}
/*.page-pathfinder section.section-article{
    position:relative;
}
.page-pathfinder section.section-article::before{
content: '';
    width: 100%;
    height: 600px;
    z-index: -1000;
    background: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
    transform-origin: left bottom;
    position: absolute;
    top: 5%;
    left: 0;
    -webkit-transform: skew(0deg, -15deg);
    -moz-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    -o-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
}*/
.page-pathfinder section.section-article::after{
    clear: both;
    content: "";
    display: table;
}
.page-pathfinder section.section-cards{
/*position:relative;*/
}
.page-pathfinder section.section-cards::after{
content: '';
    width: 100%;
    height: 1000px;
    z-index: -10;
    background: rgba(145,218,238,0.1);
    transform-origin: bottom right;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg, 15deg);
    -moz-transform: skew(0deg, 15deg);
    -ms-transform: skew(0deg, 15deg);
    -o-transform: skew(0deg, 15deg);
    transform: skew(0deg, 15deg);}

.header,footer{
    background: rgba(46,74,117,1);
    background: -moz-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,74,117,1)), color-stop(100%, rgba(46,74,117,1)));
    background: -webkit-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
    background: -o-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
    background: -ms-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
    /* background: linear-gradient(to right, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%); */
    background: linear-gradient(to right, rgba(46, 74, 117, 0.8) 0%, rgb(0, 5, 12) 100%);
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
    font-size: 15px;
    color: #666464;
}
    /*-----------------------------------------------------------------------------------*/
    /* NAVBAR
    /*-----------------------------------------------------------------------------------*/

a .navbar-bra{
    padding:10px 0;
    float:none;
}
.navbar-bra >img{
    width: 100%;
    height: 100%;
    }
.navbar-toggle{
    border: 2px solid #444;
    }

.navbar-toggle span{
    background:#fff;
}
/*
.sectioin-title:before {
  content: attr(data-content);
  display: inline-block;
  position: absolute;
  left: .2em;
  width: 9em;
  height: 2em;
  padding: .2em;
  background: mediumturquoise;
  border-radius: 3px;
  animation: timing 10s infinite;
  animation-delay: 0s;
  line-height: 2em;
  text-shadow: .05em .05em teal;
  text-align: center;
  text-transform: capitalize;
  color: #FFF;
  }
  @keyframes timing {
    50%{
      left: 100%;
      margin-left: -9.6em;
    }
*/


    /*-----------------------------------------------------------------------------------*/
    /*	section-services
    /*-----------------------------------------------------------------------------------*/
section{
    text-align: center;
}
.section-services h1,.section-article h1{
    color: #696c72;
    font-size: 30px;
    font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 40px auto;
    padding: 20px 50px;
    display: inline-block;
    border-top: 1px solid #696c72;
    border-bottom: 1px solid #696c72;
    text-transform: uppercase;
}
.section-cards h1 {
    color: #696c72;
    font-size: 30px;
    font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 40px auto;
    padding: 20px 50px;
    display: inline-block;
    border-top: 1px solid #696c72;
    border-bottom: 1px solid #696c72;
    text-transform: uppercase;
}
.title {
    text-align: center;
    color: #37474f;
    font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: .9;
}
/*.title.sep:before {
    width: 400px;
    content: '';
    display: block;
    background: #f06292;
    height: 1px;
    margin: 30px auto 20px;
}*/
/*.title.sep:after {
    width: 300px;
    content: '';
    display: block;
    background: #f06292;
    height: 1px;
    margin: 30px auto 20px;
}*/
.section-services h2{
    color: #222222;
    font-size: 20px;
    text-transform: uppercase;
    margin: 29px 0 14px;
}
.section-services p{
    color: #888888;
    font-size: 15px;
    line-height: 30px;
    margin: 0 auto;
    width: 61.33%;
}
.text-content{
   padding: 5px;
   text-align: justify;
        }
.card-wrapp,.text-content::before{
        display:table;
        content:'';
        }
card-wrapp,.text-content::after{
 clear:both;
 }

.section-content{
    padding: 17px;
    text-align: left;
}
.title-content h2{
    font-size: 26px;
    }
.content-bottom{
    text-align: center;
    position: relative;
   /*  border-bottom: 10px solid #ecfafe;*/
}

 .image_zoom {
     position: relative;
     margin-right: 2.45%;
     float: left;
     max-width: 100%; /*ширена блока*/
     height: 292px; /*высота*/
     overflow: hidden; /*отображается только область внутри элемента.*/
     margin:  auto; /*выравнивание картинки по центру*/
 }

.image_zoom .img  {
     max-width: 100%; /*ширина картинки*/
     height: 292px; /*высота картинки*/
     -moz-transition: all 1s ease-out;
     -o-transition: all 1s ease-out;
     -webkit-transition: all 1s ease-out;
}

.image_zoom .img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }


.card-wrapp{
    background: white;
    width: 100%;
    height: 512px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    margin-bottom: 20px;
    margin-right: 26px;
       }
   /* .features{
    	overflow: hidden;
    	padding: 150px 0px 150px 0px;
    	min-height: 400px;
    	color: black;
    }

    .features p {
    	font-weight: 400;
    }

    .features h2{
    	color: #ffffff;
    	text-transform: uppercase;
    	font-weight: 300;
    }

    .features .circle{
    	box-sizing: border-box;
    	margin-right: auto;
    	margin-left: auto;
    	padding-top: 33px;
    	width: 150px;
    	height: 150px;
    	border: 2px solid #ffffff;
    	border-radius: 100%;
    	text-align: center;

    }

    .features span.glyphicon, .features i{
    	margin-top: 3px;
    	color: #ffffff;
    	font-size: 5em;
    }*/


/*    .typewriter p {
      overflow: hidden; *//* Ensures the content is not revealed until the animation *//*
       border-right: .5em solid orange;*//* The typwriter cursor *//*
      white-space: nowrap; *//* Keeps the content on a single line *//*
      margin: 0 auto; *//* Gives that scrolling effect as the typing happens *//*
      letter-spacing: .15em; *//* Adjust as needed *//*
      animation:
              typing 6.5s steps(10, end),
        blink-caret .75s step-end infinite;
    }

    *//* The typing effect *//*
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    *//* The typewriter cursor effect *//*
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange; }
    }*/

    /*-----------------------------------------------------------------------------------*/
    /*	KEY COLOR
    /*-----------------------------------------------------------------------------------*/

    /*---- Typography ----*/
   /* header h1,
    .payoff h1,
    .details .carousel,
    .social a:hover{
    	color: #0bf397;
    }

    .features p{
    	*//*color: #06b872;*//*
    }

    *//*---- Background ----*//*
    .features,
    .detail .carousel-indicators .active {
    	*//*background: #0bf397;*//*
    }*/
    /*-----------------------------------------------------------------------------------*/
    /*	MEDIA QUERIES
    /*-----------------------------------------------------------------------------------*/

   /* @media (max-width:768px) {

    	header{
    		padding-bottom: 50px;
    		min-height: 1000px;
    		height: 100%;
    	}

    	.navbar-nav {
    		float: left;
    		text-align: left;
    }


    }

    @media (max-width:992px) {

    .detail .carousel h1, .detail p{
    	text-align: center;
    }

    .detail p{
    		margin-bottom: 60px;
    }

    header, .social{
    	background-position-y: 0px;
    	background-size: 200%;
    }

    .payoff{
    	padding-top: 50px;
    	padding-bottom: 50px;
    	min-height: 200px;
    }

    .payoff h1{
    	font-size: 24px;
    }

    .features .col-md-4{
    	margin-bottom: 60px;
    }

    }

    @media (max-width:480px){

    	header .carousel-iphone, .detail .app-screenshot{
    		width: 280px;
    	}

    	header .carousel, .detail .app-screenshot img{
    		padding-top: 85px;
    		width: 245px;
    	}

    	.detail .app-screenshot img{
    		margin-top: -12px;
    		padding-top: 0px;
    	}

    	header{
    		padding-top: 30px;
    		padding-bottom: 0px;
    	}

    	header h1{
    		font-size: 70px;
    	}

    	.purchase{
    		padding-top: 50px;
    	}

    	.features col-md-4{
    		margin-bottom: 50px;
    	}

    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        *//* Retina-specific stuff here *//*
        .purchasebutton.app-store, .get-it button.app-store{
            background: url(../img/badge-appstore@2x.png) #3a3a3a no-repeat 0px 5px;
            background-size: 98%;
        	color: white;
        }
    }*/

    /*BUTTON*/
   button.button--turquoise {
        color: #fff;
        /*background-color: #566c8e;*/
                background: linear-gradient(to right, rgba(115, 148, 199, 0.49) 0%, rgb(128, 150, 181) 100%);
        border: 0.125rem solid transparent;
    }
    button.button--turquoise {
        width: 8.75rem;
        box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
    }
    button.button,.button--turquoise{
        display: block;
        cursor: pointer;
        appearance: none;
        user-select: none;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        text-decoration: none;
        vertical-align: middle;
        height: 4rem;
        padding: 0 0.5rem;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 2.625rem;
        -webkit-font-smoothing: antialiased;
        border-radius: 0.25rem;
        letter-spacing: 0.09375rem;
        transition: all 0.3s ease;

    }
button.button:hover{
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    }
              /*FOOTER*/
.footer{
    color: #FFFFFF;
        }
.footer p{
    color:#fff;
}
.navbar-footer{
    padding:0;
    list-style: none;
 }
.form-group >.form-control,
.form-footer >textarea{
        padding: 5px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        margin: 0 0 5px;
        width: 100%;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
    }
.form-footer .form-group button{
         color:#fff;
         background: rgba(163, 160, 151, 0.17);
         border: 2px solid #515251;
         border-radius: 2px;
    }
.form-group >.btn-form:active:hover{
    color: #333;
    background-color: #08101b;
    border-color: #8c8c8c;
    }
.adress p a{
    color:#fff;
    padding: 0 5px;
    }







.section-bg {
/*        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:1;
        background: url(../images/image-5.jpg) no-repeat center center;
        opacity: 0.3;*/
    }
    /*end*/


    .map{
    position:relative;
    overflow:hidden;
    margin:0;
    padding:0;
    }



    /*section bottom*/

    .panel {
        border: 1px solid #f4511e;
        border-radius:0;
        transition: box-shadow 0.5s;
    }

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

    .panel-footer .btn:hover {
        border: 1px solid #fece09;
        background-color: #fff !important;
        color: #fece09;
    }

    .panel-heading {
        color: #fff !important;
        background-color: #fece09 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .panel-footer {
        background-color: #fff !important;
    }

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #fece09;
        color: #fff;
    }