body{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 2;
    margin: 0;
}
*{
    box-sizing: border-box;
    }
img {
    width: 100%;
    height: auto;
    }
.container{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
    }
.container-large{
    width: 1460px;
    height:360px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 218, 255, 0.24);
    }
    .style-conteiner{    margin-top: 10px;
         border: 1px solid #efebeb;
         background: rgba(128, 128, 128, 0.05);}
.header{


    position: fixed;
    z-index: 1;
    background: white;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(80, 74, 74, 0.39);
}

footer{
    background: #0061e4;
      }
.wprapp-nav{
    display: flex;
    align-items: center;
 }
.navbar{
   margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 5px;
 }
/*.wprapp-nav >ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 5px;
 }*/
.navbar >li{
     margin: 0 10px;
         min-height: 1px;
      }
.navbar >li >a{
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      text-decoration: none;
          color: #545050;
      }
      article >.container,.text-center{
      text-align: center;}
article.article h1{
    text-align: left;
    color: #696c72;
    font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.heading-blok{
color: #696c72;
    font-size: 30px;
    font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 40px auto;
    padding: 20px 50px;
    display: inline-block;
    border-top: 1px solid #696c72;
    border-bottom: 1px solid #696c72;
    text-transform: uppercase;}
.wrapper-news{
    display: flex;
}

.title-article {
    font-weight: 500;
    line-height: 3;
    color: black;
    font-size: 18px;
}
 .block-card, .block-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-t,.list-cards,.list-social{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.list-cards {
    margin: 0 -33px;
}
.list-cards >li {
    width: 50%;
    padding: 0 33px;
}
.list-cards >li{
     width:33%;
   /*  padding:0 33px;*/
 }
 @media(max-width:640px){
      .list-cards >li{
      width:100%;}
  }

.block-newsletter {
    background: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 60px 0;
    text-align: center;
}
.block-button {
    text-align: center;
}
 .bottom{
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     justify-content: space-between;
     }
 .img-i span a{
    display:block;
 }
 .col{
     display: flex;
     align-items: center;
     }
 .icons{
    margin: auto 10px;
     }
footer{
    margin: 20px auto;
    padding: 20px 20px;
}
.col-left span{
    padding: 0 10px;
}
footer >.container{
     padding-top: 10px;
     }
.wrapper-footer{
    display: flex;
    justify-content: space-between;
}


/*contact*/
.section-form{}
form{}
.form-group{
    margin-bottom:17px;
}

.form-row{
    display:block;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
.form-btn{
    display: flex;
    justify-content: center;}
.form-lable{
     display:block;
     margin-bottom:10px;
 }
 .form-button{
 width:30%;
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
     border-radius: 8px;
     border: 1px solid #2aacc8;
     background-color: #2aacc8;
     background-image: linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
     color: #0d0707;
     font-family: Arial;
     font-size: 18px;
     font-weight: 700;
     line-height: 20px;
     text-transform: uppercase;
      margin-top:10px;
      padding-top:10px;
      padding-bottom:10px;
      text-align:center;
      cursor:pointer;
  }
  .form-button:hover{
  background-image: linear-gradient(to bottom, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
  }
  .arrow-sbm{
     display: inline-block;
     margin-right: 10px;
     vertical-align: bottom;

 }
 textarea.form-row{
     height:auto;
     resize:vertical;
 }
 .section-form{
  /*   max-width:500px;
     width: 40%;*/
         flex-grow: 1;
         margin: 22px;
 }
.wrapper-section{
    display: flex;
    border-bottom: 1px solid rgba(125, 117, 115, 0.45);
    /*    border-top: 1px solid #FF5722;*/
}
 /*section map*/
 .wrapp-map{
     border: 1px solid #81e4ed;
     background-color: #e8fcfe;
    padding:20px;
 }
 .section-map{
    width: 40%;
     margin: 22px;}
 .title-map{
     margin-bottom: 10px;}
 .img-map >img{
     display:block;
     width:100%;
 }
 .adress{
     margin-top:20px;
 }
 .t-addres{
     color: #000000;
     font-size: 15px;
     font-weight: 700;
     text-transform: uppercase;
 }
 .section-title{
     margin-top: 10px;
     /*border-bottom: 2px solid rgba(86, 83, 83, 0.31);*/
     display: flex;
     align-items: baseline;

 }
 .section-title span{
    margin: 5px 5px;
    opacity: 0.7;
         font-size: 16px;
         font-weight: 900;
          color:#1168B5;
          }

      .text-content-top{
          margin: 20px 0;}

 .iner-text{
      color: #363636;
      font-size: 14px;
      font-weight: 400;
}
/*contact*/

/*galler*/
.wrap-tabs {
    margin-bottom: 20px;
}
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
}
.tab {
        padding: 10px 15px;
    display: block;
}
.tabs li {
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 0, 0, 0);
}
.tabs li a{
    padding: 5px 15px;
    text-decoration: none;
}
.tabs li:hover{
        border-bottom: 3px solid #F44336;
}

/************************/
ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
/*  width: 220px;
  height: 220px;*/
      margin-bottom: 10px;
/*  border-radius: 50%;*/
}
.ih-item.circle .img {
  position: relative;
  width: 100%;
  height: 220px;
/*  border-radius: 50%;*/
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
 /* border-radius: 50%;*/
/*  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);*/
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 1%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 1%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.circle.effect17 .info {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect17 .info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect17 .info p {
  color: #bbb;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect17 a:hover .img:before {
  box-shadow: inset 0 0 0 110px #333333, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 110px rgba(0, 0, 0, 0.6), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ih-item.circle.effect17 a:hover .info {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ih-item.circle.effect17 a:hover .info p {
  opacity: 1;
}
/*.ih-item.circle.effect17.colored a:hover .img:before {
  box-shadow: inset 0 0 0 110px #1a4a72, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 110px rgba(26, 74, 114, 0.6), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}*/
/***********************/


/*ПАГИНАЦИЯ*/

.paginations{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
}
.line-pagin {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*banner*/
.banner{
    margin-left: -15px;
    margin-right: -15px;
    height:160px;
    background-image: url('https://www.drupal.org/files/cta/background/bg-nyc.jpg');
        background: #2e568a;
        background: #5a5f63 url(../images/banner.jpg) repeat 50% 50% !important;
}
.banner .tint{
background: rgba(0, 0, 10, 0.6);
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding: 0 50px;
}
}
.banner .tint p{
    display: inherit;
    /* align-self: auto; */
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    padding-top: 67px;}
.banner-caption{
    position: absolute;
    top: 41px;
    display: block;
}
.banner-caption h1{
    color: white;
}
.transition-rotate{
  position: relative;
  z-index: 2;
  color: #FFF;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  font-size: 20px;

  cursor: pointer;
  transition: 1s linear;
  }
  .transition-rotate:hover {
   -webkit-transform: scale(2);
   transform: scale(2);
  }
  .alt-text{
  font-size: 13px;
  background: rgba(0, 0, 230, 0.6);
  color: #fff;
  position: relative;
  left: -150px;
  top: 0;
  width: 40%;
  transition: 3s linear;
  }
  .alt-text:hover{
   -webkit-transform: rotate(360deg);
      transform: rotate(360deg);}
/*page contakc*/
.inner-content{
display:flex;
}
.left-content{
  /*  width:65%;
    margin: 0 5px;*/
}
.right-content{
/*width:35%;
margin: 0 5px;*/
}
.svg-img{
    width: 292px;
    height: 182px;
   /* background: antiquewhite;*/
    display: block;
    position: absolute;
    top: -46px;
}
.hover-red{fill: #fff; transition: fill 0.1s;}
.hover-red:hover{
fill:#0c8ee2;;
}

.hover-green:hover{
fill:red;
transition:4s;}
.ggg{fill: #4e86b1; transition: fill 0.1s;}
.ggg:hover{
fill: aqua;
}

/*BREADCRUMPS*/
.breadcrumbs{
/*padding-top: 20px;
    padding-bottom: 20px;}*/

